<div class="login-form-container">
    <form class="login-form" (ngSubmit)="onLoginSubmit()">
        <h1>Sign In</h1>
        <section>
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" [(ngModel)]="form.email" required >
        </section>
        <section>
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" name="password" required [(ngModel)]="form.password">
            <p class="error-message" *ngIf="showErrorMessage">Combination of emailaddress and password is incorrect</p>
        </section>

        <button type="submit">Sign In</button>
        <p>Don't have an account yet? <a [routerLink]="['/registrate']">Click here</a> to register</p>
    </form>

    
</div>
